<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ site.data.home.slider.image1.path }}" class="d-block w-100" alt="...">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>{{ site.data.home.slider.title1 }}</h1>
              <p>{{ site.data.home.slider.content1 }}</p>
              <p><a class="btn btn-lg btn-primary" href="#">Try It For Free</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ site.data.home.slider.image2.path }}" class="d-block w-100" alt="...">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>{{ site.data.home.slider.title2 }}</h1>
              <p>{{ site.data.home.slider.content2 }}</p>
              <p><a class="btn btn-lg btn-primary" href="#">Try It For Free</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ site.data.home.slider.image3.path }}" class="d-block w-100" alt="...">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>{{ site.data.home.slider.title3 }}</h1>
              <p>{{ site.data.home.slider.content3 }}</p>
              <p><a class="btn btn-lg btn-primary" href="#">Try It For Free</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <main class="container ">
    <section >
      <div class="text-center">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Instant Communication Server</h1>
            <p class="lead text-muted">Tigase Instant Communication Server is the server software which handles all the real-time communication between people or devices.</p>
          </div>
        </div>
      </div>
      <div class="marketing">
        <div class="row">
          <div class="col-lg-3">

            <img class="card-img-top iconsize" src="{{ site.data.home.spelization.image1.path }}" alt="" >
            <h2>{{ site.data.home.spelization.title1 }}</h2>
            <p>{{ site.data.home.spelization.content1}}.</p>
          </div>
          <div class="col-lg-3">
            <img class="card-img-top iconsize" src="{{ site.data.home.spelization.image2.path }}" alt="" >
            <h2>{{ site.data.home.spelization.title2 }}</h2>
            <p>{{ site.data.home.spelization.content2}}.</p>
          </div>
          <div class="col-lg-3">
            <img class="card-img-top iconsize" src="{{ site.data.home.spelization.image3.path }}" alt="" >
            <h2>{{ site.data.home.spelization.title3 }}</h2>
            <p>{{ site.data.home.spelization.content3}}.</p>
          </div>
          <div class="col-lg-3">
            <img class="card-img-top iconsize" src="{{ site.data.home.spelization.image4.path }}" alt="" >
            <h2>{{ site.data.home.spelization.title4 }}</h2>
            <p>{{ site.data.home.spelization.content4}}.</p>
          </div>
        </div>
      </div>
    </section>
    <hr class="featurette-divider">
    <section>
      <div class="row featurette  marketing">
        <div class="col-md-7">
          <h5>{{ site.data.home.TigaseApps.title1 }}</h5>
          <h2 class="featurette-heading">{{ site.data.home.TigaseApps.heading1 }}</h2>
          <p class="lead">{{ site.data.home.TigaseApps.content1 }}.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">View Client Apps</a>
          </p>
        </div>
        <div class="col-md-5">
          <img class="card-img-top" src="{{ site.data.home.TigaseApps.image.path }}" alt="" >
        </div>
      </div>
    </section>
    <hr class="featurette-divider">
    <section>
      <div class="text-center marketing">
        <div class="row py-lg-5">
          <div class="col-lg-12 col-md-8 mx-auto">
            <h5>{{ site.data.home.INSTANTCOMMUNICATION.title1 }}</h5>
            <h1 class="fw-light">{{ site.data.home.INSTANTCOMMUNICATION.heading1 }}</h1>
            <p class="lead text-muted">{{ site.data.home.INSTANTCOMMUNICATION.content1 }}</p>
            <p>
              <a href="#" class="btn btn-primary my-2">View More Libraries</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            01
          </div>
          <h2>{{ site.data.home.INSTANTCOMMUNICATION.title2 }}</h2>
          <p>{{ site.data.home.INSTANTCOMMUNICATION.content2 }}</p>
        </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            02
          </div>
          <h2>{{ site.data.home.INSTANTCOMMUNICATION.title3 }}</h2>
          <p>J{{ site.data.home.INSTANTCOMMUNICATION.content3 }}</p>
         </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            03
          </div>
          <h2>{{ site.data.home.INSTANTCOMMUNICATION.title4 }}</h2>
          <p>J{{ site.data.home.INSTANTCOMMUNICATION.content4 }}</p>       
        </div>
      </div>
    </section>
    <hr class="featurette-divider">
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-4">
          <img class="card-img-top" src="{{ site.data.home.choosetigase.image.path }}" alt="" >
        </div>
        <div class="col-md-8">
          <h5>{{ site.data.home.choosetigase.title1 }}</h5>
          <h2 class="featurette-heading">{{ site.data.home.choosetigase.heading1 }} <span class="text-muted">instant communication systems.</span></h2>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <img src="assets/img/Tigase_logo_icon.png" alt="twbs" width="35" height="35" class="rounded-circle flex-shrink-0">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0">{{ site.data.home.choosetigase.headline1 }}</h6>
                  <p class="mb-0 opacity-75">{{ site.data.home.choosetigase.content1 }}</p>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <img src="assets/img/Tigase_logo_icon.png" alt="twbs" width="35" height="35" class="rounded-circle flex-shrink-0">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0">{{ site.data.home.choosetigase.headline2 }}</h6>
                  <p class="mb-0 opacity-75">{{ site.data.home.choosetigase.content2 }}</p>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <img src="assets/img/Tigase_logo_icon.png" alt="twbs" width="35" height="35" class="rounded-circle flex-shrink-0">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0">{{ site.data.home.choosetigase.headline3 }}</h6>
                  <p class="mb-0 opacity-75">{{ site.data.home.choosetigase.content3 }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <section class="text-center container">
        <div class="row py-lg-4">
          <div class="col-lg-12 col-md-8 mx-auto">
            <h1 class="fw-light"> <strong>{{ site.data.home.Feature.heading }}</strong>  </h1>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-lg-3">

          
          

          <img class="card-img-top iconsize"   src="{{ site.data.home.Feature.image1.path }}" alt="" >
          
          <h2>{{ site.data.home.Feature.title1 }}</h2>
          <p>{{ site.data.home.Feature.content1 }}</p>
        </div>
        <div class="col-lg-3">
          <img class="card-img-top iconsize" src="{{ site.data.home.Feature.image2.path }}" alt="" >
          <h2>{{ site.data.home.Feature.title2 }}</h2>
          <p>{{ site.data.home.Feature.content2 }}
          </p>
        </div>
        <div class="col-lg-3">
          <img class="card-img-top iconsize"  src="{{ site.data.home.Feature.image3.path }}" alt="" >
          <h2>{{ site.data.home.Feature.title3 }}</h2>
          <p>{{ site.data.home.Feature.content3 }}</p>
        </div>
        <div class="col-lg-3">
          <img class="card-img-top iconsize"  src="{{ site.data.home.Feature.image4.path }}" alt="" >
          <h2>{{ site.data.home.Feature.title4 }}</h2>
          <p>{{ site.data.home.Feature.content4 }}</p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-1">
          <h5>{{ site.data.home.Tigaseserver.title }}</h5>
          <h2 class="featurette-heading">{{ site.data.home.Tigaseserver.headline }}</h2>
          <p class="lead">{{ site.data.home.Tigaseserver.content }}.</p>
          <ul class="icon-list">
            <li class="text-muted">{{ site.data.home.Tigaseserver.point1 }}</li>
            <li class="text-muted">{{ site.data.home.Tigaseserver.point2 }}</li>
            <li class="text-muted">{{ site.data.home.Tigaseserver.point3 }}</li>
            <li class="text-muted">{{ site.data.home.Tigaseserver.point4 }}.</li>
          </ul>
        </div>
        <div class="col-md-5 order-md-2">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/MIlnQmrE-os" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-8">
          <h5>{{ site.data.home.clientapps.heading }}</h5>
          <h2 class="featurette-heading">{{ site.data.home.clientapps.title }}.</h2>
          <p class="lead text-muted">{{ site.data.home.clientapps.content }}
            .</p>
          <p>
            <a href="#" class="btn btn-primary my-2">View All Github Repositories</a>
          </p>
        </div>
        <div class="col-md-4">
          <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="d-flex text-muted pt-3">
              <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#007bff"></rect>
                <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
              </svg>
              <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">{{ site.data.home.clientapps.title1 }}</strong>
                {{ site.data.home.clientapps.content1 }}
              </p>
            </div>
            <div class="d-flex text-muted pt-3">
              <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#e83e8c"></rect>
                <text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text>
              </svg>
              <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">{{ site.data.home.clientapps.title2 }}</strong>
                {{ site.data.home.clientapps.content2 }}
              </p>
            </div>
            <div class="d-flex text-muted pt-3">
              <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#6f42c1"></rect>
                <text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text>
              </svg>
              <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">{{ site.data.home.clientapps.title3 }}</strong>
                {{ site.data.home.clientapps.content3 }}
              </p>
            </div>
            <div class="d-flex text-muted pt-3">
              <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#65addf"></rect>
                <text x="50%" y="50%" fill="#65addf" dy=".3em">32x32</text>
              </svg>
              <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">{{ site.data.home.clientapps.title4 }}</strong>
                {{ site.data.home.clientapps.content4 }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <img class="card-img-top" src="{{ site.data.home.about.image.path }}" alt="" >
        </div>
        <div class="col-md-7">
          <h5> {{ site.data.home.about.title }}</h5>
          <h2 class="featurette-heading">{{ site.data.home.about.heading }}...</h2>
          <p class="lead text-muted">{{ site.data.home.about.content}}.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Read more</a>
          </p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-8 ourcomic">
          <h5> {{ site.data.home.ourcomic.title }}</h5>
          <h2 class="featurette-heading">{{ site.data.home.ourcomic.heading }}</h2>
          <p class="lead text-muted">{{ site.data.home.ourcomic.content}}</p>
        </div>
        <div class="col-md-4">
          <img class="card-img-top" src="{{ site.data.home.ourcomic.image.path }}" alt="" >
        </div>
      </div>
      <hr class="featurette-divider">
      <section class=" text-center container">
        <div class="row py-lg-4">
          <div class="col-lg-12 col-md-12 mx-auto">
            <h5>{{ site.data.home.ournews.title }}</h5>
            <h1 class="fw-light">{{ site.data.home.ournews.content }}</h1>
          </div>
        </div>
      </section>
      <section class="blog-area">
        <div class="container">
          <div class="row">
            <div class="blog-carousel">
              <div class="col-12">
                <div class="single-blog-wrapper">
                  <div class="single-blog">
                    <div class="blog-image">
                      <img src="assets/img/b2.png" alt="" />
                    </div>
                  </div>
                  <div class="blog-hover">
                    <span><i class="zmdi zmdi-time"></i>{{site.data.home.ournews.blog1.date}}</span>
                    <h3>{{site.data.home.ournews.blog1.title}}</h3>
                    <p>
                      {{site.data.home.ournews.blog1.content}}
                    </p>
                    <a href="#" class="default-btn">Read more</a>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="single-blog-wrapper">
                  <div class="single-blog">
                    <div class="blog-image">
                      <img src="assets/img/b2.png" alt="" />
                    </div>
                  </div>
                  <div class="blog-hover">
                    <span><i class="zmdi zmdi-time"></i>{{site.data.home.ournews.blog2.date}}</span>
                    <h3>{{site.data.home.ournews.blog2.title}}</h3>
                    <p>
                      {{site.data.home.ournews.blog2.content}}
                    </p>
                    <a href="#" class="default-btn">Read more</a>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="single-blog-wrapper">
                  <div class="single-blog">
                    <div class="blog-image">
                      <img src="assets/img/b3.png" alt="" />
                    </div>
                  </div>
                  <div class="blog-hover">
                    <span><i class="zmdi zmdi-time"></i>{{site.data.home.ournews.blog3.date}}</span>
                    <h3>{{site.data.home.ournews.blog3.title}}</h3>
                    <p>
                      {{site.data.home.ournews.blog3.content}}
                    </p>
                    <a href="#" class="default-btn">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="featurette-divider">
      <section class=" text-center container">
        <div class="row py-lg-4">
          <div class="col-lg-12 col-md-12 mx-auto">
            <h5>{{ site.data.home.client.title }}</h5>
            <h1 class="fw-light">{{ site.data.home.client.heading }}</h1> 
            <p class="lead text-muted">{{ site.data.home.client.content }}</p>
          </div>
        </div>
      </section>
      <div class="client-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="client-carousel">
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image1.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image2.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image3.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image4.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image5.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image6.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image7.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image8.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image9.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image10.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image11.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image12.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image13.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image14.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image15.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image16.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image17.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image18.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
                <div class="single-client">
                  <div class="client-image">
                    <a href="#">
                    <img src="{{ site.data.home.client.image19.path }}" alt="" class="p-img" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>